<div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">GO
                    <small>find yourself</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-sm-6">
                <a href="#">
                    <img class="img-responsive" src="//unsplash.com/photos/r4He4Btlsro/download" alt="">
                </a>
                <h3>
                    <a href="#">Bckpck China</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-sm-6">
                <a href="#">
                    <img class="img-responsive" src="//unsplash.com/photos/yM2HJiq7P6c/download" alt="">
                </a>
                <h3>
                    <a href="#">Bckpck Europe</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © BCKPCKR 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>