<div class="main">
<!-- 	<div class = "jumbotron"> -->
    <div class="container">
      <p><span id="title">bckpckr</span><p>
     <p>Where is life leading you?</p>
    </div>
<!--   </div> -->

<!-- USE form_tag and search_path for lookup
 <#% form_tag root_path do %>
  <label for="lookup">Lookup</label>
  <#%= text_field_tag :lookup %>
 <#%= submit_tag "Submit" %>
<#% end %>
 -->


<form class="form-inline" role="form">
  <div class="form-group">
    <label for="text"></label>
    <%= select_date Date.today, class:"btn btn-default", prefix: :start_date %>
  </div>
  <div class="form-group">
    <label for="text"></label>
    <input type="text" class="form-control" id="text" placeholder="Budget">
  </div>
  <div class="form-group">
    <label for="text"></label>
    <input type="text" class="form-control" id="text" placeholder="Destination">
    <button type="submit" class="btn btn-default">Submit</button>
      </div>
  </form>
</div>



