<p>Results From our search:</p>
<!-- 
<#% @flights.each do |message| %>
    <div class = "flight">
      <p class = "content"><#%=message.content %></p>
      <p class = "time"><#%=message.price %></p>
    </div>
    <#% end %> -->