<%= form_for @data, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>


<!-- <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <#%= form_for @data, url: {action: "create"} do |f| %>
         <div class="form-group">
              <#%= f.label :name %>
              <#%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="form-group">
              <#%= f.label :email %>
              <#%= f.email_field  :email, class:"form-control" %>
          </div>
          <div class="form-group">
            <#%= f.label :comments %>
            <#%= f.submit "Submit", class:"btn btn-default" %>

      <#% end %>
    </div>
  </div> -->