<h1>Data#apiThings</h1>
<p>Find me in app/views/data/apiThings.html.erb</p>

<ul>
  <% @results.each do |event| %>
    <% event.each do |key, value| %>
      <%= key %>: <%= value %>
    <% end %>
  <% end %>
</ul>