<div class="main">
<!-- 	<div class = "jumbotron"> -->
    <div class="container">
      <p><span id="title">bckpckr</span><p>
     <p>Where is life leading you?</p>
<!-- <p>Drop into an entirely new world with prices that you can afford through bckpckr.

Traveling deserves to be accessible to everyone. That's why bckpckr is an app designed to seamlessly curate a list of suggested travel areas based on your current buying power.

Just enter your budget along with the dates you have in mind, and bckpckr will do the rest.

Trips can be chosen based on a number of different criteria. Rather than worry about price, you can refer to our guides to find the right choice in your budget.

Create a journal to document your day-to-day activites, images and videos of your adventure.

Wherever life takes you, bckpckr will be by your side to catalog every story.</p> -->
    </div>