<div class="main">
<!-- 	<div class = "jumbotron"> -->
    <div class="container">
      <p><span id = title>bckpckr</span><p>
     <p>Where is life leading you?</p>
    </div><p>This is a page that will eventually be about us</p>
</div>